.listMissions{
    margin-top: 20px;
}
.searchButton{
    margin-top: 10px;
    
}

button{
    width: 200px;
    height: 40px;
}

.filterBlock{
    margin-left: 20%;
}
mat-form-field{
    width: 100%;
}