<div class="forget-password">
    <div class="row">
        <div class="col-5">

        </div>
        <div class="col-4">
            <div class="text-center">
                <form [formGroup]="formGroup" (ngSubmit)="forgetPassword()">
                    <mat-card style="width: 50%;">
                        <div class="text-center">
                            <h2 style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            font-weight: bold; font-style: italic; color: coral;">Forget Password</h2>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput 
                                type="text"
                                placeholder="Please enter your email"
                                formControlName="email">
                                <mat-error *ngIf="formGroup.get('email')!.hasError('required')">
                                    Email is required
                                </mat-error>
                                <mat-error *ngIf="formGroup.get('email')!.hasError('email')">
                                    Email should be valid
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="form-group">
                            <button mat-raised-button color="warn">Send email</button>
                        </div>
                    </mat-card>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
