<div class="editMission">
    <div mat-dialog-title>
        <h1 style="color: coral;">  {{data ? 'Update mission form':'Add Mission form'}}  </h1>
    </div>
    <form [formGroup]="missionForm" (ngSubmit)="onSubmit()" novalidate>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input 
                    matInput 
                    type="text"
                    formControlName="title">
                    <mat-error *ngIf="missionForm.get('title')!.hasError('required')">
                        Title is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <input 
                    matInput 
                    type="text"
                    formControlName="field">
                    <mat-error *ngIf="missionForm.get('field')!.hasError('required')">
                        Category is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>Technology</mat-label>
                    <input 
                    matInput 
                    type="text"
                    formControlName="technology">
                    <mat-error *ngIf="missionForm.get('technology')!.hasError('required')">
                        Technology is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>Duration</mat-label>
                    <input 
                    matInput 
                    type="number"
                    formControlName="duration">
                    <mat-error *ngIf="missionForm.get('duration')!.hasError('required')">
                        Duration is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Requirements</mat-label>
                    <input 
                    matInput 
                    type="text"
                    formControlName="requirments">
                    <mat-error *ngIf="missionForm.get('requirments')!.hasError('required')">
                        Requirements is required
                    </mat-error>
                </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea 
                matInput 
                type="text"
                formControlName="description">
                </textarea>
                <mat-error *ngIf="missionForm.get('description')!.hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>
        </div>
        <button 
        mat-raised-button 
        color="warn" 
        [mat-dialog-close]="false">Cancel</button>
        &nbsp;&nbsp;
        <button 
        mat-raised-button 
        color="warn"> {{data ? 'Update mission' : "Add new mission"}}  </button>
    </form>
</div>
