<div class="editMission">
    <div mat-dialog-title>
        <h1 style="color: coral;">Application form for mission {{data.missionId}} </h1>
    </div>
    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" novalidate>
        <br>
        <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Candidate Name</mat-label>
                        <input 
                        matInput 
                        type="text"
                        formControlName="name">
                        <mat-error *ngIf="applicationForm.get('name')!.hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" class="single-input" 
                    formControlName="startDate">
                    </mat-form-field>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="applicationForm.get('startDate')!.hasError('required')">
                        Date is required
                    </mat-error>
                </div>
                <div class="col-sm-4">
                    <input type="file" 
                    (change)="onFileSelected($event)">
                </div>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea 
                matInput 
                type="text"
                formControlName="description">
                </textarea>
                <mat-error *ngIf="applicationForm.get('description')!.hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>
        </div>
        <button 
        mat-raised-button 
        color="warn" 
        [mat-dialog-close]="false">Cancel</button>
        &nbsp;&nbsp;
        <button 
        mat-raised-button 
        color="warn">Submit application</button>
    </form>
</div>

