<div class="editMission">
    <div mat-dialog-title>
        <h1 style="color: coral;">Resume Parser</h1>
    </div>
    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" novalidate>
        <br>
        <div class="row">
                
                <div class="col-sm-4">
                    <input type="file" 
                    (change)="onFileSelected($event)">
                </div>
        </div>
        <button 
        mat-raised-button 
        color="warn" 
        [mat-dialog-close]="false">Cancel</button>
        &nbsp;&nbsp;
        <button 
        mat-raised-button 
        color="warn">Submit application</button>
    </form>
</div>

