<div class="emailForm">
    <form (submit)="onSubmit()">
        <div>
          <mat-label for="email">Email:</mat-label>
          <br>
          <mat-form-field appearance="outline">
            <input matInput type="email" id="email" name="email" [(ngModel)]="email">
          </mat-form-field>
        </div>
        <div>
          <mat-label for="content">Content:</mat-label>
          <br>
          <mat-form-field appearance="outline">
            <textarea matInput id="content" name="content" [(ngModel)]="content"></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button color="warn">Send Email</button>
      </form>
</div>
