<div class="missionDetails">
    <mat-card>
            <h1 class="text-center">  {{currentMission.title}}  </h1>
            <h3> Field : {{currentMission?.field}} </h3>
            <h3>Technologies and tools : {{currentMission?.technology}} </h3>
            <h3>Duration : {{currentMission?.duration}} months </h3>
            <p>  </p>
            <h3>Requirements : {{currentMission?.requirments}} </h3>
            <p>  </p>
            <h3>Description : </h3>
            <h3> {{currentMission?.description}} </h3>
            <button mat-raised-button color="primary">Apply</button>
    </mat-card>
</div>
