<div class="missionDetails">
    <mat-card>
            <h1 class="text-center" 
            style="color: crimson; 
            font-weight: bold; 
            font-style: italic;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">  {{currentMission?.title}}  </h1>
            <h3> Field : {{currentMission?.field}} </h3>
            <h3>Technologies and tools : {{currentMission?.technology}} </h3>
            <h3>Duration : {{currentMission?.duration}} months </h3>
            <p>  </p>
            <h3>Requirements : {{currentMission?.requirments}} </h3>
            <p>  </p>
            <h3>Description : </h3>
            <h3> {{currentMission?.description}} </h3>
            <div class="text-center">
                <button mat-raised-button color="warn" (click)="openApplicationForm(currentMission._id)">
                    <mat-icon>forward</mat-icon>
                    Apply
                </button>
            </div>
    </mat-card>
</div>
