<div class="reset-password">
    <div class="row">
        <div class="col-5">

        </div>
        <div class="col-4">
            <div class="text-center">
                <form [formGroup]="formGroup" (ngSubmit)="resetPassword()">
                    <mat-card style="width: 50%;">
                        <div class="text-center">
                            <h2 style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            font-weight: bold; font-style: italic; color: coral;">Reset Password</h2>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput 
                                type="text"
                                placeholder="Please enter your password"
                                formControlName="password">
                                <mat-error *ngIf="formGroup.get('password')!.hasError('required')">
                                    Password is required
                                </mat-error>
                                <mat-error *ngIf="formGroup.get('password')!.hasError('minlength')">
                                    Password should be longer than 8 characters!
                                  </mat-error>
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="form-group">
                            <button mat-raised-button color="warn">Submit</button>
                        </div>
                    </mat-card>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>