.dashboard{
    margin-top: 20px;
    margin-left: 20px;
}

.chartUserContainer{
    width: 50%;
    margin-left: 100px;
}

.chartMissionCategoryContainer{
    width: 50%;
    margin-left: 100px;
}




