<div class="dashboard">
    <h1 style="color: coral;" class="text-center">App data and statistics</h1>
    <div class="row">
        <h2 style="color: coral;">User data</h2>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Search user here ...</mat-label>
                <input matInput type="text" [(ngModel)]="searchUser">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="listUsers|filter:searchUser" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> Firstname </th>
              <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef> Lastname </th>
              <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="birthdate">
                <th mat-header-cell *matHeaderCellDef> Birthdate </th>
                <td mat-cell *matCellDef="let element"> {{element.birthdate | date}} </td>
              </ng-container>

              <ng-container matColumnDef="phonenumber">
                <th mat-header-cell *matHeaderCellDef> Phone number </th>
                <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">  
                    <div class="row">
                        <div class="col-4">
                            <button mat-button color="warn">
                                <mat-icon>block</mat-icon>
                            </button>
                        </div>
                        <div class="col-4">
                            <button mat-button color="warn" (click)="deleteUser(element._id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <div class="col-4">
                          <button mat-raised-button color="warn" (click)="intercontrat(element._id)">Intercontrat</button>
                        </div>
                    </div>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>
          </table>
    </div>
    <br>
    <div class="row">
        <h2 style="color: coral;">Mission data</h2>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Search mission here ...</mat-label>
                <input matInput type="text" [(ngModel)]="searchMission">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="listMissions|filter:searchMission" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="field">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.field}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="technology">
              <th mat-header-cell *matHeaderCellDef> Technology </th>
              <td mat-cell *matCellDef="let element"> {{element.technology}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef> Duration </th>
              <td mat-cell *matCellDef="let element"> {{element.duration}} month(s) </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">  
                    <div class="row">
                        <div class="col-3">
                            <button mat-button color="warn" (click)="openEditForm(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="col-3">
                            <button mat-button color="warn" (click)="deleteMission(element._id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <div class="col-3">
                          <button mat-button color="warn" (click)="openArchiveForm(element._id)">
                              <mat-icon>archive</mat-icon>
                          </button>
                      </div>
                      <div class="col-3">
                        <button mat-button color="warn" (click)="openAssignProjectForm(element._id)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    </div>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedMissionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedMissionColumns;"></tr>
          </table>
          <div class="text-center">
            <br><br>
            <button mat-raised-button color="warn" (click)="openAddEditEmpForm()">
                <mat-icon>add</mat-icon>
                Add Mission
            </button>
          </div>
    </div>
    <br>
    <div class="row">
        <h2 style="color: coral;">Applications data</h2>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Search application here ...</mat-label>
                <input matInput type="text" [(ngModel)]="searchApplication">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="listApplications|filter:searchApplication" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Candidate Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef> Start Date </th>
              <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">  
                    <div class="row">
                        <div class="col-4">
                            <button mat-button color="warn" (click)="goToApplication(element._id)">
                                <mat-icon>ballot</mat-icon>
                            </button>
                        </div>
                        <div class="col-4">
                            <button mat-button color="warn" (click)="deleteApplication(element._id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsApplications"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsApplications;"></tr>
          </table>
    </div>
</div>